
@{
    ViewData["Title"] = "SelectAction";
}

<h1>SelectAction</h1>
<center>
    <div class="container">

        <div>
            <a href='@Url.Action("ViewMenu", "Menu")'>
                <input type='button' value='Menu Items' />
            </a>
        </div>
        <br />
        <div>
            <a href='@Url.Action("GetCart", "Cart")'>
                <input type='button' value='Cart' />
            </a>
        </div>
    </div>
</center>

